@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  height: 100%;
  background-color: #DBB1CD;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}

.wrapper {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(100px, auto) 1fr minmax(70px, auto)/1fr;
  grid-template-rows: minmax(100px, auto) 1fr minmax(70px, auto)/1fr;
      grid-template-areas: "header" "main" "footer";
}

.main {
  padding: 30px 15px;
}

@media (min-width: 992px) {
  .main {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: main;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
        grid-template: 1fr/1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
  }
}
.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  background-color: #00A591;
  grid-area: header;
  padding: 15px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
      grid-template: 1fr/1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
}
.header__logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}
.header__menu {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}
.header__list {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  justify-items: end;
}
.header__list li {
  margin: 0px 0px 0px 30px;
}
.header__link {
  color: #fff;
  font-size: 18px;
}
@media (max-width: 992px) {
  .header__list {
    display: none;
  }

  .header__menu {
    display: -ms-grid;
    display: grid;
    justify-items: end;
  }

  .header__burger {
    width: 30px;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-rows: (8px)[3];
    -ms-grid-columns: 1fr;
        grid-template: repeat(3, 8px)/1fr;
  }

  .header__burger::before {
    content: "";
    height: 2px;
    width: 30px;
    background-color: #fff;
  }

  .header__burger::after {
    content: "";
    height: 2px;
    width: 30px;
    background-color: #fff;
  }

  .header__burger span {
    height: 2px;
    width: 30px;
    background-color: #fff;
  }
}
.sidebar {
  padding: 30px 15px;
  background-color: #EC9787;
  margin: 0px 30px 0px 0px;
}
@media (min-width: 992px) {
  .sidebar {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    margin: 0px;
  }
}
@media (min-width: 992px) {
  .sidebar__list {
    position: fixed;
  }
}
.sidebar__list li {
  margin: 0px 0px 15px 0px;
}
.sidebar__list li:last-child {
  margin: 0px 0px 0px 0px;
}
.sidebar__link {
  color: #fff;
  font-size: 20px;
}

@media (min-width: 992px) {
  .content {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    padding: 0px 0px 0px 30px;
  }
}
.content__gallery {
  margin: 0px 0px 30px 0px;
}
.gallery__items {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.gallery__item {
  position: relative;
  padding: 0px 0px 85% 0px;
}
.gallery__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 767px) {
  .gallery__item--big {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    -ms-grid-row-span: 2;
    grid-row: span 2;
  }
}

.products__items {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.products__item {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -ms-grid-rows: auto 1fr minmax(40px, auto);
  -ms-grid-columns: 1fr;
      grid-template: auto 1fr minmax(40px, auto)/1fr;
}
.products__image {
  position: relative;
  padding: 0px 0px 90% 0px;
  margin: 0px 0px 20px 0px;
}
.products__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.products__name {
  font-size: 24px;
  color: #fff;
  line-height: 30px;
  margin: 0px 0px 20px 0px;
}
.products__button {
  background: #FF7B47;
  border: 1px solid #E6E6E6;
  -ms-grid-column-align: start;
      justify-self: start;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 40px;
  padding: 0px 20px;
  cursor: pointer;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  color: #fff;
}
.products__button:hover {
  background-color: #cc582a;
  border-radius: 12px;
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  background-color: #6B5B95;
  display: -ms-grid;
  display: grid;
  grid-area: footer;
  padding: 15px;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
      grid-template: 1fr/1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
}

@media (min-width: 550px) {
  .footer__copy {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }

  .footer__text {
    text-align: right;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
  }
}
@media (max-width: 550px) {
  .footer {
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 1fr;
        grid-template: 1fr 1fr/1fr;
    text-align: center;
  }

  .footer__copy {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .footer__text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}