@import "nullstyle.scss";
//Миксины//
@mixin flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  @mixin inline-flex {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
 body {
    height: 100%;
    background-color: #DBB1CD;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
	font-size: 16px;
	line-height: 24px;
 }
 .wrapper {
     min-height: 100%;
     display:grid;
     grid-template-rows: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
     grid-template-areas: 
     "header"
     "main"
     "footer";
}
.main {
    padding: 30px 15px;
}

@media (min-width: 992px) {
    .main {
        grid-area: main;
        display: grid;
        grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
    }

}
.header {
    background-color: #00A591;
    grid-area: header;
    padding: 15px;
    display: grid;
    align-items: center;
    grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;

		// .header__logo

		&__logo {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: #fff;
            grid-column: 2 / 3;
		}

		// .header__menu

		&__menu {
            grid-column: 3 / 4;
		}

		// .header__list

		&__list {
            display: grid;
            grid-auto-flow: column;
            justify-items: end;
		}
        &__list li{
            margin: 0px 0px 0px 30px;
		}

		// .header__link

		&__link {
            color: #fff;
            font-size: 18px;
		}

		// .header__burger

		&__burger {
		}
}
@media (max-width: 992px) {
    .header__list {
        display: none;
    }
    .header__menu {
        display: grid;
        justify-items: end;
    }
    .header__burger {
        width: 30px;
        display: grid;
        align-items: center;
        grid-template: repeat(3, 8px) / 1fr;
    }
    .header__burger::before {
        content: "";
        height: 2px;
        width: 30px;
        background-color: #fff;
    }
    .header__burger::after {
        content: "";
        height: 2px;
        width: 30px;
        background-color: #fff;
    }
    .header__burger span {
        height: 2px;
        width: 30px;
        background-color: #fff;
    }
}

.sidebar {
    
    padding: 30px 15px;
    background-color: #EC9787;
    margin: 0px 30px 0px 0px;
    @media (min-width: 992px) {
        grid-column: 2 / 3;
        margin: 0px;
    }
    
		// .sidebar__menu

		&__menu {
		}

		// .sidebar__list

		&__list {
            @media (min-width: 992px) {
          position:fixed; 
            }
		}
        &__list li {
            
            margin: 0px 0px 15px 0px;
		}
        &__list li:last-child {
            margin: 0px 0px 0px 0px;
		}

		// .sidebar__link

		&__link {
            color: #fff;
            font-size: 20px;
		}
}
.content {
    @media (min-width: 992px) {
        grid-column: 3 / 4;
        padding: 0px 0px 0px 30px;
    }
    
    // .content__gallery

		&__gallery {
            margin: 0px 0px 30px 0px;
		}

		// .content__products

		&__products {
		}
}
.gallery {

		// .gallery__title

		&__title {
		}

		// .gallery__items

		&__items {
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		}

		// .gallery__item
        &__item {
            position: relative;
            padding: 0px 0px 85% 0px;
        }
		&__item img{
           position: absolute;
           top: 0;
           left: 0;
           width: 100%;
           height: 100%;
           object-fit: cover; 
		}

		// .gallery__item--big

		&__item--big {
            @media (min-width: 767px) {
            grid-column: span 2;
            grid-row: span 2;
            }
		}
}
.products {

		// .products__title

		&__title {
		}

		// .products__items

		&__items {
            display: grid;
            column-gap: 30px;
            row-gap: 50px;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		}

		// .products__item

		&__item {
            display: grid;
            grid-auto-flow: row;
            grid-template: auto 1fr minmax(40px, auto) / 1fr;
		}

		// .products__image

		&__image {
            position: relative;
            padding: 0px 0px 90% 0px;
            margin: 0px 0px 20px 0px;
		}
        &__image img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover; 
        }

		// .products__name

		&__name {
            font-size: 24px;
            color: #fff;
            line-height: 30px;
            margin: 0px 0px 20px 0px;
		}

		// .products__button

		&__button {
                background: #FF7B47;
            border: 1px solid #E6E6E6;
        justify-self: start;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 40px;
        padding: 0px 20px;
            cursor: pointer;
            transition: all 1s ease 0s;
            color: #fff;
              }
              &__button:hover {
                background-color: #cc582a;
                border-radius: 12px;
              }
		}

.footer {
        background-color: #6B5B95;
        display: grid;
        grid-area: footer;
        padding: 15px;
        grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
    }
        // .footer__copy
        @media (min-width: 550px) {
            .footer__copy {
            grid-column: 2 / 3;
		}

		// .footer__text

		.footer__text {
            text-align: right;
            grid-column: 3 / 4;
		}
    }
    @media (max-width: 550px) {
        .footer {
            grid-template: 1fr 1fr / 1fr;
            text-align: center;
        }
        .footer__copy {
            order: 2;
        }
        .footer__text {
            order: 1;
        }
    }

